<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Start_LINQ_SQL.Properties.Settings.LINQ_SQL_DBConnectionString"
            connectionString="Data Source = Microsoft SQL Server Database File (SqlClient); AttachDbFilename = C:\Users\Sean\Source\Repos\Lynda)LINQ_Essentials\08_02_SQL_Query_start\Start_LINQ_SQL\LINQ_SQL_DB.mdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>